.products__main {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin-top: 130px;

}

.products__container-main {
  width: 75%;
  align-items: center;
  padding: 8px;
  align-self: center;
  /* background-color: burlywood; */

}

.products__price {
  padding: 20px 0;
  font-size: 20px;
}

.products__img {
  height: 25%; 
  width: 25%;
}

.products__container-inner {
  padding: 20px 20px;
  /* background-color: cadetblue; */
  /* border: .1px solid black; */
}

.products__name {
  font-size: 100%;
  overflow-wrap: normal; 
  max-width: 345px;
}


.products__quantity{
  border: 1px solid black;
  width: 45px;
  align-items: center;
  padding: 4px;
  margin-right: 10px;
  text-align: center;
}

.products__cart{
  background-color: #fc5d37;
  padding: 8px;
  width: 200px;
  text-align: center;
  color: #FFFFFF
}

.products__cart:hover{
  background-color: #2b65a0;
}

.products__desc--container{
  background-color: blue;
  width: 500px;
}

.products__label{
  font-size: 20px;
}

.products__desc {
  margin-top: 16px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 16px;
  text-indent: 5%;
  font-size: medium;
  /* background-color: blueviolet; */
  /* box-sizing: border-box; */
  /* border: 1px solid black; */
  padding: 12px;
}

.products__main .products__container-main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
  /* border-bottom: solid 2px  #004387; */
  /* box-shadow: 11px 10px 15px 0px #004387; */
  /* border-top: solid 2px  #004387; */
  /* border-radius: 5px; */
}



.products__review-header {
  text-align: left;
  padding: 16px 0;
  text-decoration: underline;
  font-size: 20px;
  width: 60%;
  align-self: center;
  align-items: center;
  /* background-color: brown; */
}

.details-header{
  text-align: left;
  text-decoration: underline;
  margin-left: -40px;
  font-size: 20px;
  /* background-color: blueviolet; */
}

.products__review-container {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.products__review-block {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20%;
  margin-bottom: 5px;
  margin-right: 20%;
  padding: 6px;
  font-size: medium;
   border-bottom: solid 1px  #004387;
}

.products__review-content {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 16px;
}

.products__review-form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
  align-items: center;
}

.products__review-field {
  width: 90%;
  height: 150px;
  border: 1px solid gray;
  background-color: whitesmoke;
  text-align: left;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: medium;
}

.products__review-submit {
  display: block;
  background-color: #004387;
  width: 200px;
  padding: 6px;
  margin: 20px auto 20px auto;
  color: white;
}

.products__review-submit:hover {
  background-color: #2b65a0;
}
